Software/STM32_MW-Charging-Aux-Board/Output/
Software/STM32_MW-Charging-Aux-Board/Listing/
.vscode/
Software/STM32_MW-Charging-Aux-Board/Project/RVMDK/.vscode/
Software/STM32_MW-Charging-Aux-Board/Project/RVMDK/Fire_FreeRTOS.uvoptx
Software/STM32_MW-Charging-Aux-Board/Project/RVMDK/Fire_FreeRTOS.uvguix.*
Software/STM32_MW-Charging-Aux-Board/Project/RVMDK/Fire_FreeRTOS.uvprojx
Software/STM32_MW-Charging-Aux-Board/Project/RVMDK/EventRecorderStub.scvd
Software/STM32_MW-Charging-Aux-Board/User/main.c
Software/STM32_MW-Charging-Aux-Board/User/main.h
**/build/
**/*.o